<div class="card @CardClass mb-3">
    <div class="card-body row">
        <div class="col">
            <h5 class="card-title mb-1">@Title</h5>
            <p class="card-text mb-0">@Value</p>
        </div>
        <div class="col text-end">
            <i class="@IconClass fs-1 me-3"></i>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public object Value { get; set; } = default!;
    [Parameter] public string IconClass { get; set; } = string.Empty;
    [Parameter] public string CardClass { get; set; } = "text-dark bg-primary-subtle";
}
