@page "/"
@layout MainLayout
<PageTitle>Home</PageTitle>

<div class="bgStyle main">
    <div class="rocket text-light p-2">
        <div class="container vstack justify-content-center h-100">
            <h1 class="display-1">Rocket SAAS</h1>
            <h2 class="lh-1"> Take your company to the moon!</h2>
            <div>
                <a class="btn btn-primary" href="/dashboard">Get Started</a>
            </div>
        </div>
    </div>
</div>